@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;600&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: 'Roboto Slab', serif;
  background-color: #ffffff;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
h3 {
  margin-bottom: 35px;
  letter-spacing: 0.6px;
}
.container {
  max-width: 1260px;
  margin-inline: auto;
}
.header {
  display: flex;
  padding-block: 40px;
  padding-inline: 50px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  border-bottom: solid 1.7px #8d8d8c2d;
}
.headerNav {
  display: flex;
  gap: 50px;
}
.accountBasket {
  display: flex;
  gap: 8px;
}
.accountUser {
  display: flex;
  gap: 8px;
}
.main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 40px;
}
.wrapperNav {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 50px;
  
}
.wrapperNav li {
  text-align: center;
  width: 200px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.lists {
  display: block;
} 
.card {
  border: solid 1px #fff;
  padding-inline: 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.cardDetails {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
}
.card img {
  margin-bottom: 10px;
}
.basketBtn {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: solid 1.7px #8d8d8c2d;
  border-radius: 7px;
  padding: 5px;
  font-size: 13px;
  background-color: #fff;
  letter-spacing: 1px;
  cursor: pointer;
}
.basketBtn:hover {
  background-color: #000000;
  border: solid 1.7px #000000;
  color: #fff;
  transition: 0.6s;
}