@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;600&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: 'Roboto Slab', serif;
  background-color: #fff;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
.container {
  max-width: 1260px;
  margin-inline: auto;
}
.header {
  display: flex;
  padding-block: 40px;
  padding-inline: 50px;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  border-bottom: solid 1.7px #8d8d8c2d;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 40px;
  padding-bottom: 50px;
}
.wrapperNav {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 50px;
}
.wrapperNav li {
  text-align: center;
  width: 200px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.lists {
  display: block;
} 
.myBasketBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: none;
  background-color: #fff;
  cursor: pointer;
}
.card {
  border: solid 1px #fff;
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
}
.softCard {
  background-color: #352f2f22;
  border: solid 1px #fff;
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  
}
.cardDetails {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 15px;
  border-top: solid 1.7px #8d8d8c2d;
}
.card img {
  margin-bottom: 10px;
}
.cardCaption {
  height: 80px;
  display: grid;
}
.cardCaption h6 {
  color: #8d8d8ce9;
  letter-spacing: 0.2px;
}
.basketBtn {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: solid 1.7px #8d8d8c2d;
  border-radius: 7px;
  padding: 5px;
  font-size: 13px;
  background-color: #fff;
  letter-spacing: 1px;
  cursor: pointer;
}
.stockBtn {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: solid 1.7px #8d8d8c2d;
  border-radius: 7px;
  padding: 5px;
  font-size: 13px;
  background-color: #fff;
  letter-spacing: 1px;
  cursor: pointer;
}
.basketBtn:hover {
  background-color: #000000;
  border: solid 1.7px #000000;
  color: #fff;
  transition: 0.6s;
}
.basketIcon {
  position: relative;
}
.basketCount {
  background-color: red;
  height: 18px;
  width: 16px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -6px;
  right: -7px;
}
span {
  font-size: 14px;
  color: #fff;
}
.basketArea {
  border: solid 1px #e3e3e3;
  background-color: #f2f2f2;
  box-shadow: rgb(44, 26, 202) 0px 3px 8px;
  width: 320px;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 30px;
  transition: all 1s;
  z-index: 99999;
}
.close {
  display: none;
}
.basketArea summary {
  border-bottom: solid 1.7px #8d8d8c6f;
  margin-bottom: 20px;
}
.basketinProduct {
  border-bottom: solid 1.7px #8d8d8c6f;
  margin-bottom: 15px;
}
.basketinImg {
  width: 100px;
  height: 100px;
}
.completeOrder {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 20px;
  border-radius: 20px;
  border: 1px solid #05891f ;
  background-color: #63e857;
  cursor: pointer;
}